body{
    font-family: 'Roboto', sans-serif;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.gameboard {
    width: 1000px;
    border: 1px solid black;
}

.scoreboard {
    width: 1000px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.game-container{
    height: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
}