@use 'normalize.css';
@use 'form.scss';
@use 'logger.scss';

body{
    font-family: 'Roboto', sans-serif;
}

.gameboard {
    width: 1000px;
    border: 1px solid black;
}

.scoreboard {
    width: 1000px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}